* {
  margin: 0%;
  padding: 0%;
}

#root {

  font-size: 16px;
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

/* Animations */
@keyframes itemanimation {
  0% {
    transform: translateX(-50px);
    opacity: 0;

  }

  25% {}

  50% {}

  75% {}

  100% {
    transform: translateX(0px);
    opacity: 1;

  }
}

@keyframes pageanimation {
  0% {
    opacity: 0;
  }

  100% {

    opacity: 1;

  }

}

@keyframes arrowbuttionanimation {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0px);

    opacity: 1;

  }

}

@keyframes arrowbuttionanimationreverse {
  0% {
    transform: translateX(0px);

  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0px);

    opacity: 1;

  }

}

@keyframes itemanimation2 {
  0% {
    transform: translateX(-50px);
    z-index: -1;
    opacity: 0;

  }

  25% {
    z-index: -1;

  }

  50% {
    z-index: -1;

  }

  75% {
    z-index: -1;

  }

  100% {
    transform: translateX(0px);
    opacity: 1;
    z-index: -1;

  }
}

/* Sidebar  */




.sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0px;
  transition: width 0.5s linear;
  min-height: 100%;
  width: 250px;
  z-index: 6;

}

.sidebar-logo {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.sidebar-logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.sidebar-logo:hover {
  cursor: pointer;
}

.hidesidebarbutton {
  position: absolute;
  height: 50px;
  width: 40px;
  right: -40px;
  transition: width 0.5s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #31826c;
  border-radius: 0px 10px 10px 0px;
}

.hidesidebarbutton span {
  display: flex;
  justify-content: center;
  align-items: center;

}

.hidesidebarbutton span i {
  font-size: 1rem;
  margin: 0%;
  padding: 0%;

}

.hidesidebarbutton:hover {
  cursor: pointer;

}

.hidesidebarbutton:hover#hidebutton i {
  animation: arrowbuttionanimation;
  animation-duration: 1s;
  animation-delay: 200ms;
}

.hidesidebarbutton:hover#extendbutton i {
  animation: arrowbuttionanimationreverse;
  animation-duration: 1s;
  animation-delay: 200ms;
}

.searchbox {

  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  width: 100%;
}

.searchbox:hover {
  cursor: pointer;

}

textarea:focus,
input:focus {
  outline: none;
}

input[id=searchtext] {
  width: 80%;
  padding-left: 10px;
  height: 25px;
  background-color: transparent;
  border: 1px solid #31826c;
  transition: all 300ms linear;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 10px;
}


input[type=text]:focus {
  background-color: white;
  border: 1px solid white;
  transition: all 300ms linear;
}

.sidebar section {
  animation: itemanimation;
  animation-duration: 2s;

}

.hidesidebar section {
  animation: itemanimation2;
  animation-duration: 2s;

}

.hidesidebar-searchbox {
  display: flex;
  height: 25px;
  width: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

}

.hidesidebar-searchbox span {

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidesidebar-searchbox i {
  font-size: 0.9rem;
}

/* Sidebar Person */
.sidebar-person {
  position: relative;
  height: 130px;
  width: 100%;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.sidebar-person img {
  width: 100px;
  border-radius: 50%;
  transition: all 0.5s linear;
  border: 1px solid #31826c;

}

.sidebar-person-title {

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.sidebar-person-title h1 {
  font-size: 0.7em;
  font-weight: 400;
  transition: all 0.5s linear;

}

.sidebar-person h3 {
  font-size: 0.6rem;
  font-weight: 300;
  transition: all 0.5s linear;

}



/* Sidebar Menu items */

.sidebar-menu {
  position: relative;
  justify-content: center;
  align-items: center;


}



.sidebar-menu-item h1 {

  font-size: 0.9rem;
  font-weight: 400;
  margin-left: 10px;
}

.sidebar-menu-item a {
  position: relative;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;

}

.sidebar-menu-item i {
  font-size: 0.9rem;
  margin-right: 0px;
}

.sidebar-menu-item a:hover {
  cursor: pointer;
  background-color: #31826c;
  color: white;


}

.pullright {
  position: absolute;
  right: 4%;
}


/* Hiding sidebar  */
.hidesidebar .sidebar-person-title {
  display: flex;
  flex-direction: column;
}

.hidesidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0px;
  transition: width 0.5s linear;
  min-height: 100%;
  width: 75px;
  left: 0px;
  z-index: 6;
}



.hidesidebar .sidebar-person img {
  width: 60px;
}

.hidesidebar-menu {
  display: flex;
  justify-content: center;

}


.hidesidebar-menu li {
  display: flex;
  width: 100%;
  list-style: none;
}


.hidesidebar-menu ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

}

.hidesidebar-menu .sidebar-menu-item a {
  position: relative;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}



.itemtree {
  max-height: 1000px;
  transition: all 3s cubic-bezier(0.22, 0.61, 0.36, 1);
  opacity: 1;

}


.hide-itemtree {
  max-height: 0;
  opacity: 0;


}

.hide-itemtree li {
  display: none;
}


.itemtree li {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;

}

.itemtree a {
  width: 100%;
  height: 25px;
  padding-left: 25px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #404040;

}


.itemtree i {

  font-size: 0.8rem;

}


.itemtree li h4 {
  font-size: 0.8rem;
  font-weight: 400;
  margin-left: 5px;

}







#smallitemtree {
  position: absolute;
  width: 175px;
  left: 75px;
  transition: all 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#smallitemtree a {
  height: 100%;
  width: 100%;
  padding-left: 10px;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

#smallitemtree li {
  height: 25px;
  width: 100%;
}


.themebutton {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 50px;
}

.themetoggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.themetoggle span {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.8rem;

}

.sign-out {
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.sign-out:hover {
  cursor: pointer;
}

.sign-out h5 {
  font-size: 0.7rem;
  font-weight: 400;
}

.theme-sign-out-button {

  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  flex-direction: column;
  width: 100%;


}

/*  Pages   */

.mainboard {
  position: relative;
  display: flex;
  justify-content: center;
  transition: all 0.5s linear;
  z-index: 4;
  animation: pageanimation;
  animation-duration: 500ms;

}

.Appointment {
  display: flex;
  background-color: white;
  padding: 50px;
  width: 100%;
  flex-direction: column;

  height: fit-content;
}

input[id=appointmenttext] {
  width: 80%;
  height: 30px;
  background-color: transparent;
  border: 1px solid #e4e5e7;
  transition: all 300ms linear;
  border-radius: 3px;

}

input[id=appointmenttext]:focus {
  border: 1px solid #0f238c;
  border-radius: 3px;

}

.AppointmentForm {
  display: flex;
  justify-content: center;
}

.Appointment form {
  display: flex;
  width: 720px;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
  margin: 0%;
  /* background-color: rgba(155, 211, 196, 0.3); */
  padding: 40px;
  border-radius: 10px;
  border: 2px solid #31826c;

}


.Appointment form section {
  display: flex;
  width: 100%;
  animation: pageanimation;
  animation-duration: 500ms;
}

.Appointment label {
  width: 20%;

}

.Appointment label h4 {
  font-size: 16px;
  color: #374767;
}

#doctors {
  width: 80%;
  border: 1px solid #e4e5e7;
  height: 30px;
  border-radius: 3px;

}

#meeting-date {
  width: 50%;
  height: 30px;
  border: 1px solid #e4e5e7;
  position: relative;
  border-radius: 3px;

}

#registrationTimePicker {

  height: 30px;
  border: 1px solid #e4e5e7;
  position: relative;
  border-radius: 3px;

}

#registrationTimePicker::-webkit-calendar-picker-indicator {
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  background: transparent;

}

#meeting-time {
  margin-left: 5%;
  width: 10%;
  height: 30px;
  border: 1px solid #e4e5e7;
  position: relative;
  border-radius: 3px;

}

#phone {
  width: 80%;
  height: 30px;
  position: relative;
  border-radius: 3px;
  border: 1px solid #e4e5e7;

}

#phone:focus {

  border: 1px solid #0f238c;

}

#meeting-date::-webkit-calendar-picker-indicator {
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  background: transparent;

}

#meeting-time::-webkit-calendar-picker-indicator {
  bottom: 0;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  background: transparent;

}

.textarea {

  width: 100%;
}

textarea[id="appointmentproblemtext"] {
  width: 80%;
  min-height: 100px;
  height: fit-content;
  display: flex;
  background-color: transparent;
  border: 1px solid #e4e5e7;
  border-radius: 3px;

}

textarea[id="appointmentproblemtext"]:focus {

  border: 1px solid #0f238c;


}

.Appointment-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.Appointment h1 {
  font-size: 1.3rem;
}

.Appointment span i {
  font-size: 1.3rem;
}

/* IOS Toggle  */




.toggleWrapper {
  height: 30px;
  width: 80%;
  display: flex;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

#switchlabel {
  cursor: pointer;
  width: 50px;
  height: 25px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

#switchlabel:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 21px;
  height: 21px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked+#switchlabel {
  background: #4CAF50;

}

input:checked+#switchlabel:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}


.SaveOrCancelButtons {
  display: flex;
  width: 80%;
  justify-content: flex-end;
  gap: 10px;
}

#savebutton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#cancelbutton {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

/*  Appointment List Table */

.Appointmentlist {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;

}

.AppointmentlistTable {
  width: 80%;

}

.PreregistrationButtons {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 25px;
  justify-content: space-between;
}

.PreregistrationButtons button {

  width: 200px;
  height: 40px;
  background-color: #31826c;
  color: white;
  border-radius: 10px;
  border-color: transparent;
}

.PreregistrationButtons button:hover {
  background-color: #9bd3c4;
  color: #31826c;
  cursor: pointer;
  transition: all 300ms linear;
  border: 2px solid #31826c;
}

.AppointmentTable {
  position: relative;
  width: 100%;
}

.tableHead {
  position: relative;
  display: flex;
  height: 50px;
  overflow: hidden;

}

.tableHeadlist {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: #31826c
}

.tableHead li {
  list-style: none;
  width: 100px;
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
}

.tableBody {
  position: relative;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  overflow: hidden;
}

.tableBodylist {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top: 10px;
  background-color: #9bd3c4;
  border-radius: 10px;
  color: #31826c;
}

.tableBodylist li {
  list-style: none;
  width: 100px;
  font-size: 0.9rem;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
}

.tableBody a {
  text-decoration: none;
}

/* table settings */

#tableNumber {
  width: 2%;
  display: flex;
  justify-content: center;
}

#tablePaientID {
  width: 8%;
}

#tablePaientName {
  width: 12%;
}

#tablePhone {

  width: 10%;
  overflow: hidden;
}

#tableDoctor {
  width: 13%;
}

#tableComment {
  width: 20%;

}

#tableCommentItem {
  width: 20%;
  overflow-x: hidden;

  display: flex;
  align-items: flex-start;
}

#tableCommentItem::-webkit-scrollbar {

  background-color: #9bd3c4;
  border-radius: 10px;
  width: 5px;
}

#tableCommentItem::-webkit-scrollbar-thumb {
  background-color: #31826c;
  border-radius: 10px;

}

#tableDate {
  width: 8%;
}

#tableTime {
  width: 8%;
}

#tableActions {
  width: 19%;
}

#tablebodyActions button {
  width: 25px;
  height: 25px;
  border-color: transparent;
  /* border-radius: 50%; */
  border-radius: 5px;
  margin: 0%;
  padding: 0%;
  position: relative;

}

#tablebodyActions button:hover {
  cursor: pointer;

}

#tablebodyActions button span {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.8rem;
}

#tablebodyActions {

  display: flex;
  width: 19%;
  flex-direction: row;
  gap: 5%;
  overflow: hidden;
}

.registrationTimepicker {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
  margin-bottom: 25px;
}

.confirmationbox {
  position: absolute;
  display: flex;
  width: 200px;
  height: 200px;
  top: 100px;
  left: 100px;
  z-index: 10;
}

.tedaviplanlari {
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.tedaviplani {
  display: flex;
  gap: 5px;
  height: 40px;
  flex-direction: column;
}

.tedaviplani li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #404040;
  color: white;

}

.tedaviplani li section {

  display: flex;
  flex: row;
}

.treatmentoperation {

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}